body {
    margin: 25px auto;
    border: 1px solid black;
    max-width: 800px;
}

.container1{
    max-width:900px;
    border: 1px solid black;
    padding: 25px;
    background-color: #f5f0ef;
}
 
.container {
    max-width: 800px; 
    padding: 50px;
    /* background-color: #eae4e2; */
    background-color: #f5f0ef;
    border: 1px solid black;
}

a {
    text-decoration: none;
    color: rgb(112, 90, 242);
}

/* ******************************************************* */
/* HEADER */
header {
    display: flex;
    justify-content: space-evenly;
}

header img {
    width: 150px;
    border-radius: 50%;
    border: 14px double white;
}

header div {
    text-align: center;
}

header h2 {
    font-weight: normal;
}

header p {
    font-weight: bold; 
    font-size: 1.1rem;
}

/* ******************************************************** */
/* SECTION 1 */
#section-1 {
    display: flex;
    align-items: center;
}

#section-1 p {
    flex:1.5;
    border: 4px solid white;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.contact {
    border: 4px solid white;
    margin: 20px;
    padding: 16px 25px 10px 25px;
    border-radius: 10px;
}

.contact-information {
    margin-bottom: 5px;
    line-height: 1.45;
}

.contact-information i {
    margin-right: 7px;
}

.address {
    display: flex;
}

/* ***************************************************** */
/* SECTION 3 et 4*/

.inside-li {
    display: flex;
}

.date {
    width: 31%;
}

.text {
    width: 90%;
}

.portfolio {
    font-weight: bold;
}


/* **************************************************** */
/* MEDIA QUERIES */
@media screen and (max-width: 370px) {
    .contact {
        margin-right:0px;
        margin-left:0px;
    }

    .container1{
        padding: 15px;
    }

    .container{
        padding: 30px;
    }
}

/* @media screen and (max-width: 450px) { */
@media screen and (max-width: 600px) {
    .container{
        padding: 30px;
    }

    #section-1 p {
        width: 100%;
        margin-right:0px;
        margin-left:0px;
    }
    .contact {
        padding: 8px 10px 5px 10px;
    }
    .contact-information {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    ul {
        padding-inline-start: 0px;
    }
}

/* @media screen and (min-width:451px) and (max-width:649px) { */
@media screen and (max-width:649px) {
    .container{
        padding: 30px;
    }

    .contact-information i {
        margin-right: 15px;
    }
}

@media screen and (max-width: 700px) {
    header {
        display: flex;
        flex-direction: column;
    }
    header img {
        margin: auto;
    }
    #section-1 {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    h2, h3 {
        text-align: center;
    }
    .inside-li {
        flex-direction: column;
    }
    .date {
        width: auto;
    }
    .text {
        width: auto;
    } 
    ul {
        margin-block-start:0px;
        padding-inline-start:0px;
    }
}

@media screen and (min-width:650px) and (max-width:870px) {
    .contact {
        padding: 8px 10px 5px 10px;
    }
    .contact-information {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}